@import "stylesheets/decidim/admin/utils/settings";

$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);

.code {
  background: $code-background;
  color: $code-color;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  border: $code-border;
  padding: $code-padding;
}
