.code {
  background: #fafafa;
  color: #1a181d;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  border: 1px solid #e8e8e8;
  padding: rem-calc(2 5 1);
}

.form-info {
  a {
    color: var(--secondary);
    text-decoration: underline;
  }
}
